/* centratura del contenuto principale */
#main-wrapper {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Layout della griglia prodotti*/
.prodotti-container {
    margin-top: 30px;
}

/* css per la card oggetto*/
.card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

/* arancione se è presente lo sconto */
.card.promo {
    border: 2px solid #ff9800;
    background-color: #fffaf0; 
}

/* css per la scritta dello sconto */
.badge-sconto {
    color: #e67e22;
    font-weight: bold;
    margin: 5px 0;
}

/* --- Stile per prodotti Esauriti --- */
.esaurito {
    color: #95a5a6;
    background-color: #f2f2f2;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    border: 1px dashed #bdc3c7;
    margin-top: auto;
}

/* --- Pulsante Acquisto --- */
.btn-acquista {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    margin-top: auto;
}

.btn-acquista:hover {
    background-color: #219150;
}

/* navbar*/
.navbar {
    background-color: #2c3e50;
    color: white;
    padding: 15px 0;
}

/* --- Link di Navigazione --- */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: 20px;
    padding: 0;
}

.nav-links a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 500;
}

/* --- Stile del Footer --- */
footer {
    color: #bdc3c7;            /* Grigio chiaro per il testo */
    text-align: center;        /* Centra il testo */
    padding: 20px 0;           /* Spazio interno sopra e sotto */
    margin-top: 50px;          /* Spazio sopra il footer per staccarlo dal contenuto */
    width: 100%;
}

footer p {
    margin: 0;
}